<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="./images/mp-logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="./images/mp-logo.png" type="image/x-icon"> -->
    <title>MasterPrep</title>
    <link rel="stylesheet" href="../style.css">

</head>
<body>

<img id="logo" src="./images/mp-logo.png" alt="Logo">

<div id="timer">02:00</div>

<div class="hero">
    <h1>Sales Engineer Interview <span>Questions</span></h1>
    <div>
        <textarea placeholder="Questions will populate here..." id="questionTextarea" rows="5" cols="50" readonly></textarea>
    </div>
    <div class="row">
        <select id="voices"></select>
        <button onclick="readRandomText()"><img src="images/play.png">Click Me</button>
    </div>
</div>


<script src="script.js"></script>


</body>
</html>
