<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterPrep</title>
    <link rel="stylesheet" href="style.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }
        button {
            font-size: 16px;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<upguard>

    UpGuard - https://www.linkedin.com/jobs/view/3909521213/?alternateChannel=search&refId=lYjPXu24OkwY8WuJKV44Yw%3D%3D&trackingId=NUosdc2sKn2VP%2Beh99owow%3D%3D&trk=d_flagship3_postapply_offsite_modal_similar_jobs

    Hi Julie, this is Vincent Castigliola. Sorry for the cold call but I was wondering if I could have just 30 seconds to tell you who i am and why im calling you today. 
    
    So I am a software developer looking to work in a software sales position. I recently applied to one of your SDR openings at UpGuard and sent you an email with a copy of my resume. I'm sure you currently have a large talent pool of candidates but I would love to know what qualities you look for in your SDRs to see if i might be a good fit for this position.
    
    Why Vincent: I come from a tech background so I'm confident I can learn about the data security software at upguard rather quickly. Ive never worked in sales which might be ideal considering modmed has great sales training and probably doesn’t want to take anyone on with bad sales habits.
    My ability to take my emotions out of the equation when im handling rejection. (I was ignored multiple times when I messaged a hiring manager for a SE job at Datadog)
    
    Why upguard: Great product, great culture, sales reps are hitting quota (72%, OTE: $80k), opportunities to learn more about cybersecurity and vendor risk management
    
    What is UpGuard: Cybersecurity platform that helps businesses identify and fix potential risks to their IT systems. It helps them solve security related issues from their own systems, from outside their system, and from their own trusted vendors. UpGuard's tools let organizations manage risk effectively, keep their supply chain transparent, and stop data breaches before they happen.
    
    
    Reasons for hiring me:
    
    Tenacity - I'm cold calling you to be considered for a sales position. I dont think many are willing to do that.
    - So far ive talked to 100 people in sales. 
    Also I found your number so that shows im resource-fullness and know how to prospect.
    Know my why - improve my communication skills, develop business acumin, and money.
    
    Close:
    - I'm sure you would want to take a look at my resume first but based on what you heard so far do you think you would be interested in setting up a meeting between myself and the recruiter?
</upguard>

<Deel>

    Deel - https://www.linkedin.com/jobs/view/3909521213/?alternateChannel=search&refId=lYjPXu24OkwY8WuJKV44Yw%3D%3D&trackingId=NUosdc2sKn2VP%2Beh99owow%3D%3D&trk=d_flagship3_postapply_offsite_modal_similar_jobs

    Hi Nicholas, this is Vincent Castigliola. Sorry for the cold call but I was wondering if I could have just 30 seconds to tell you who i am and why im calling you today. 
    
    So I am a software developer looking to work in a software sales position. I recently applied to one of your Mid-Market SDR openings at Deel and sent you an email with a copy of my resume. I'm sure you currently have a large talent pool of candidates but I would love to know what qualities you look for in your SDRs to see if i might be a good fit for this position.
    
    Why Vincent: I come from a tech background so I'm confident I can learn about the data security software at upguard rather quickly. Ive never worked in sales which might be ideal considering modmed has great sales training and probably doesn’t want to take anyone on with bad sales habits.
    My ability to take my emotions out of the equation when im handling rejection. (I was ignored multiple times when I messaged a hiring manager for a SE job at Datadog)
    
    Why upguard: Great product, great culture, sales reps are hitting quota (72%, OTE: $80k), opportunities to learn more about cybersecurity and vendor risk management
    
    What is UpGuard: Cybersecurity platform that helps businesses identify and fix potential risks to their IT systems. It helps them solve security related issues from their own systems, from outside their system, and from their own trusted vendors. UpGuard's tools let organizations manage risk effectively, keep their supply chain transparent, and stop data breaches before they happen.
    
    
    Reasons for hiring me:
    
    Tenacity - I'm cold calling you to be considered for a sales position. I dont think many are willing to do that.
    - So far ive talked to 100 people in sales. 
    Also I found your number so that shows im resource-fullness and know how to prospect.
    Know my why - improve my communication skills, develop business acumin, and money.
    
    Close:
    - I'm sure you would want to take a look at my resume first but based on what you heard so far do you think you would be interested in setting up a meeting between myself and the recruiter?
</Deel>
</html>
